<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br><br><br>

# Listed Volatility and Variance Derivatives

**Dr. Yves J. Hilpisch &mdash; Wiley Finance (2016)**

<img src="http://hilpisch.com/images/lvvd_cover.png" alt="Derivatives Analytics with Python" width="30%" align="left" border="0">

# DX Analytics &mdash; Square-Root Diffusion

## Introduction

You need to install DX Analytics. See http://dx-analytics.com.

## Data Import and Selection

In [1]:
import warnings; warnings.simplefilter('ignore')

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
h5 = pd.HDFStore('data/vstoxx_march_2014.h5', 'r')
vstoxx_index = h5['vstoxx_index']  # data for the index itself 
vstoxx_futures = h5['vstoxx_futures']  # data for the futures
vstoxx_options = h5['vstoxx_options']  # data for the options
h5.close()

In [4]:
vstoxx_index.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 63 entries, 2014-01-02 to 2014-03-31
Data columns (total 9 columns):
V2TX    63 non-null float64
V6I1    57 non-null float64
V6I2    63 non-null float64
V6I3    61 non-null float64
V6I4    63 non-null float64
V6I5    63 non-null float64
V6I6    62 non-null float64
V6I7    63 non-null float64
V6I8    63 non-null float64
dtypes: float64(9)
memory usage: 4.9 KB

In [5]:
vstoxx_index.tail()

,V2TX,V6I1,V6I2,V6I3,V6I4,V6I5,V6I6,V6I7,V6I8
Date,,,,,,,,,
2014-03-25,18.2637,18.2303,18.3078,19.0371,19.8378,20.3065,18.1063,20.8292,21.2046
2014-03-26,17.5869,17.4810,17.7009,18.4499,19.4150,19.9961,20.2562,20.4541,20.8563
2014-03-27,17.6397,17.5032,17.7608,18.6249,19.4860,20.0477,20.1078,20.4865,20.9449
2014-03-28,17.0324,16.6849,17.2864,18.3281,19.3032,19.8332,20.1371,20.3808,20.8210
2014-03-31,17.6639,17.6087,17.6879,18.5689,19.4285,20.0430,19.9823,20.4448,20.8994

In [6]:
vstoxx_futures.info()

vstoxx_futures.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504 entries, 0 to 503
Data columns (total 5 columns):
DATE         504 non-null datetime64[ns]
EXP_YEAR     504 non-null int64
EXP_MONTH    504 non-null int64
PRICE        504 non-null float64
MATURITY     504 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 23.6 KB

          DATE  EXP_YEAR  EXP_MONTH  PRICE   MATURITY
499 2014-03-31      2014          7  20.40 2014-07-18
500 2014-03-31      2014          8  20.70 2014-08-15
501 2014-03-31      2014          9  20.95 2014-09-19
502 2014-03-31      2014         10  21.05 2014-10-17
503 2014-03-31      2014         11  21.25 2014-11-21

In [7]:
vstoxx_options.info()

vstoxx_options.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46960 entries, 0 to 46959
Data columns (total 7 columns):
DATE         46960 non-null datetime64[ns]
EXP_YEAR     46960 non-null int64
EXP_MONTH    46960 non-null int64
TYPE         46960 non-null object
STRIKE       46960 non-null float64
PRICE        46960 non-null float64
MATURITY     46960 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(1)
memory usage: 2.9+ MB

            DATE  EXP_YEAR  EXP_MONTH TYPE  STRIKE  PRICE   MATURITY
46955 2014-03-31      2014         11    P    85.0  63.65 2014-11-21
46956 2014-03-31      2014         11    P    90.0  68.65 2014-11-21
46957 2014-03-31      2014         11    P    95.0  73.65 2014-11-21
46958 2014-03-31      2014         11    P   100.0  78.65 2014-11-21
46959 2014-03-31      2014         11    P   105.0  83.65 2014-11-21

In [8]:
third_fridays = sorted(set(vstoxx_futures['MATURITY']))
third_fridays

[Timestamp('2014-01-17 00:00:00'),
 Timestamp('2014-02-21 00:00:00'),
 Timestamp('2014-03-21 00:00:00'),
 Timestamp('2014-04-18 00:00:00'),
 Timestamp('2014-05-16 00:00:00'),
 Timestamp('2014-06-20 00:00:00'),
 Timestamp('2014-07-18 00:00:00'),
 Timestamp('2014-08-15 00:00:00'),
 Timestamp('2014-09-19 00:00:00'),
 Timestamp('2014-10-17 00:00:00'),
 Timestamp('2014-11-21 00:00:00')]

## Modeling the VSTOXX Options

## Calibration of the VSTOXX Model

## Conclusions

## Python Scripts

### dx_srd_calibration.py

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:team@tpq.io">team@tpq.io</a>

**DX Analytics** |
<a href="http://dx-analytics.com">http://dx-analytics.com</a>

**Quant Platform** |
<a href="http://quant-platform.com">http://quant-platform.com</a>

**Python for Finance Books** |
<a href="http://books.tpq.io" target="_blank">http://books.tpq.io</a>

**Python for Finance Training** |
<a href="http://training.tpq.io" target="_blank">http://training.tpq.io</a>